/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: rgba(250, 250, 250, .7); /*this uses opacity of 75% for the background color*/
  background-image: url("images/interior-bg.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

.center {
	width: 600px;
	height: 550px;
	padding: 3%;
	margin: 100px auto;
	text-align: left;
	background: rgba(250, 250, 250, .9); /*this uses opacity of 75% for the background color*/
	border: none

}

   
#logo {
	margin-bottom: 3px;
	border: none
}

h1 {
	font-family: Impact;
	font-size: 8em;
    margin: 0px auto 10px auto;
	color: rgba(213, 42, 63, 1);
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
    line-height: 1.4;
	color: rgba(0, 0, 0, 1;)
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
    line-height: 1.6;
    color: rgba(0, 0, 0, 1;)
}
    
nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	width: 600px;
	margin: 1 auto;
	border: none rgba(213, 42, 63, 1);
	border-width: 1px 0;
	text-align: left;
	margin-top: 1 em;
}    

nav li{
	display: inline-block;
	padding: 10px;
}

a{
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: block;
	background: rgba(213, 42, 63, .6);
}